.nav-sidebar .nav-treeview {
    padding-left: 15px;
}

.nav-sidebar .nav-treeview .nav-item {
    width: 100%;
}

.nav-sidebar .nav-treeview .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.8rem;
}

.nav-sidebar .nav-link p {
    width: 100%;
}

.nav-sidebar .right {
    margin-left: auto;
}

.function toggleUserForm() {
    $('#userCreateForm').slideToggle(250);
}

.action-icon {

    width: 34px;
    height: 34px;

    border: none;
    border-radius: 6px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;

    background: transparent;

    transition: 0.2s ease;
}

.action-icon:hover {
    background: rgba(0, 0, 0, 0.08);
}

.edit-btn i {
    color: #007bff;
}

.salary-btn i {
    color: #28a745;
}

.delete-btn i {
    color: #dc3545;
}

.update-btn i {
    color: #17a2b8;
}